@import '~node_modules/modern-normalize/modern-normalize.css';
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #000000;
  background-color: #ffffff;
}

button, a {
  cursor: pointer;
}

html,
body {
  height: 100%;
}

.wrap {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.container-catalog {
  padding-top: 20px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .container-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container-catalog {
    gap: 16px;
    row-gap: 32px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  pointer-events: none;
}

.hidden-modal {
  opacity: 0;
  scale: 0.8;
  pointer-events: none;
}

.preload * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.no-scroll {
  position: fixed;
}

.library_btn {
  margin: 0;
  width: 130px;
  height: 44px;
  cursor: pointer;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .library_btn {
    width: 152px;
    height: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .library_btn {
    width: 148px;
    height: 42px;
  }
}

.library_btn--active {
  background-color: #ff6b08;
  border: transparent;
  filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  transition: opacity 0.25s, visibility 0.25s;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #000000;
  border-bottom-color: #ff6b08;
  border-radius: 50%;
  -webkit-animation: loading 0.75s ease infinite;
          animation: loading 0.75s ease infinite;
}

@-webkit-keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 10;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.2);
  opacity: 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  padding: 48px 20px 40px;
  background-color: #ffffff;
  overflow: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .modal {
    position: absolute;
    width: 470px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    border: 2px solid #8c8c8c;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    padding: 40px 36px;
    width: 704px;
    height: 552px;
    overflow: inherit;
  }
}
@media screen and (min-width: 1280px) {
  .modal {
    padding: 40px 12px;
    width: 806px;
    height: 558px;
  }
}

.btn-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  border-color: transparent;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal-close:hover, .btn-modal-close:focus {
  border: 2px solid #ff6b08;
}

.modal-conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
@media screen and (min-width: 768px) {
  .modal-conteiner {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 480px) {
  .text-box {
    height: 420px;
  }
}
@media screen and (min-width: 768px) {
  .text-box {
    height: 400px;
  }
}
@media screen and (min-width: 1280px) {
  .text-box {
    height: 370px;
  }
}

.img-modal {
  width: 240px;
  height: 357px;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 auto 20px;
}
@media screen and (min-width: 768px) {
  .img-modal {
    margin: 0 auto;
    width: 265px;
    height: 375px;
  }
}
@media screen and (min-width: 1280px) {
  .img-modal {
    margin: 0 auto;
    width: 375px;
    height: 468px;
  }
}

.modal-title {
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .modal-title {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .modal-title {
    max-width: 264px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-title {
    max-width: 390px;
    font-size: 30px;
    line-height: 1.1666666667;
  }
}

table {
  border-spacing: 0px 8px;
}
@media screen and (max-width: 767px) {
  table {
    margin: 0 auto;
  }
}

.tbody-category {
  padding-right: 60px;
  color: #8c8c8c;
}
@media screen and (min-width: 1280px) {
  .tbody-category {
    padding-right: 80px;
  }
}

.tbody-vote {
  width: 12px;
  text-align: center;
  padding: 0px 4px;
  color: #ffffff;
  background-color: #ff6b08;
  border-radius: 5px;
}

.modal-subtitle {
  font-size: 12px;
  line-height: 1.3333333333;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.tbody-title {
  max-width: 240px;
}

.textAbout {
  min-width: 240px;
  max-height: 236px;
  font-size: 12px;
  line-height: 1.6666666667;
  color: #000000;
  overflow: auto;
}
@media screen and (min-width: 768px) {
  .textAbout {
    width: 264px;
    max-height: 240px;
  }
}
@media screen and (min-width: 1280px) {
  .textAbout {
    width: 370px;
    max-height: 160px;
  }
}

.text-box {
  margin-bottom: 20px;
}

.btn-conteiner {
  display: flex;
  justify-content: center;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .btn-conteiner {
    margin-left: 10px;
    justify-content: flex-start;
    gap: 15px;
  }
}

.btn-click-modal {
  width: 110px;
  height: 44px;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.3333333333;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .btn-click-modal {
    width: 125px;
  }
}
@media screen and (min-width: 1280px) {
  .btn-click-modal {
    width: 136px;
  }
}
.btn-click-modal:hover, .btn-click-modal:focus {
  color: #ffffff;
  background-color: #ff6b08;
  border: none;
}

.footer-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1010;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.4);
}

.footer-modal {
  width: 320px;
  padding: 10px;
  border-radius: 5px;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .footer-modal {
    width: 700px;
    height: 600px;
    padding: 15px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-modal {
    width: 700px;
    height: 600px;
    padding: 15px;
  }
}

.footer-closeModalBtn {
  position: absolute;
  padding: 0;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-closeModalBtn:hover {
  background-color: #ff6b08;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.team-title {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .team-title {
    font-size: 22px;
    font-weight: 700;
    margin-top: 5px;
  }
}

.team-list {
  display: inline;
}
@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}

.team-item {
  flex-basis: 25%;
  text-align: center;
}

.team-card {
  border-radius: 6px;
}
@media screen and (min-width: 768px) {
  .team-card:hover {
    box-shadow: 4px 10px 48px 5px rgba(0, 0, 0, 0.5);
    transform: scale(1.2);
    transition: 200ms;
  }
}

.team-image {
  width: 160px;
  height: 160px;
  border-radius: 4px;
  margin: 0 auto;
}

.team-item-title {
  font-size: 14px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .team-item-title {
    font-size: 17px;
    font-weight: 700;
  }
}

.github-link {
  display: inline;
}

.icon-github {
  fill: purple;
  border-radius: 50;
}
.icon-github:hover {
  fill: #ff6b08;
}

.scale-down-center {
  -webkit-animation: scale-down-center 1.2s linear infinite both;
  animation: scale-down-center 1.2s linear infinite both;
}

@-webkit-keyframes scale-down-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}
@keyframes scale-down-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}
.hidden-photo {
  display: none;
}

.film-card {
  width: 280px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .film-card:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .film-card {
    flex-basis: calc((100% - 32px) / 2);
    margin: 0;
  }
}
@media screen and (min-width: 1280px) {
  .film-card {
    flex-basis: calc((100% - 32px) / 3);
  }
}

.film-card__link {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.film-card__image {
  height: 100%;
  margin-bottom: 10px;
}
@media screen and (min-width: 1280px) {
  .film-card__image {
    margin-bottom: 12px;
  }
}

.film-card__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #000000;
}
@media screen and (min-width: 1280px) {
  .film-card__title {
    font-size: 20px;
    line-height: 1.2;
  }
}

.film-card__desc {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  display: flex;
  align-items: center;
}

.film-card__janre,
.film-card__date {
  color: #ff6b08;
}
@media screen and (min-width: 1280px) {
  .film-card__janre,
.film-card__date {
    font-size: 20px;
    line-height: 1.2;
  }
}

.film-card__date {
  margin-right: 8px;
}

.film-card__rating {
  padding: 1px 9px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #ff6b08;
}
@media screen and (min-width: 1280px) {
  .film-card__rating {
    display: inline-flex;
  }
}

.header {
  height: 230px;
  background-size: cover;
  background-image: url(../images/header-home/abstract-background-with-red-lines-mobile.jpg);
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .header {
    height: 216px;
    background-image: url(../images/header-home/abstract-background-with-red-lines-tablet.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .header {
    background-image: url(../images/header-home/abstract-background-with-red-lines-desktop.jpg);
  }
}

.container--header {
  padding-top: 42px;
  padding-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .container--header {
    padding-top: 40px;
    padding-bottom: 45px;
  }
}
@media screen and (min-width: 1280px) {
  .container--header {
    padding-top: 40px;
    padding-bottom: 44px;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 56px;
}
@media screen and (min-width: 768px) {
  .header__nav {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .header__nav {
    margin-bottom: 41px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}

.logo__svg {
  height: 24px;
  width: 24px;
}

.logo__name {
  display: none;
}
@media screen and (min-width: 768px) {
  .logo__name {
    display: block;
    font-size: 30px;
    line-height: 1.166;
    color: #ffffff;
  }
}

.nav-list {
  display: flex;
  gap: 39px;
}

.nav-list__link {
  font-size: 12px;
  line-height: 1.166;
  color: #ffffff;
  text-transform: uppercase;
}
.nav-list__link--current::after {
  content: " ";
  display: block;
  margin-top: 1px;
  width: 100%;
  height: 3px;
  background-color: #ff001b;
}

.search {
  position: relative;
}
@media screen and (min-width: 768px) {
  .search {
    margin-right: 180px;
    margin-left: 180px;
  }
}
@media screen and (min-width: 1280px) {
  .search {
    margin-right: 410px;
    margin-left: 410px;
  }
}

.search__input {
  width: 100%;
  height: 25px;
  margin-bottom: 16px;
  padding-bottom: 4px;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.142;
  background-color: transparent;
  border-color: transparent;
  border-bottom: 1px solid #ffffff;
}
@media screen and (min-width: 768px) {
  .search__input {
    margin-bottom: 20px;
  }
}

.search__input::-moz-placeholder {
  color: #ffffff;
}

.search__input:-ms-input-placeholder {
  color: #ffffff;
}

.search__input::placeholder {
  color: #ffffff;
}

.search__svg {
  height: 12px;
  width: 12px;
}

.search__btn {
  position: absolute;
  right: -10px;
  top: -4px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: transparent;
  margin: 10px;
}

.search__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.142;
  color: #ff001b;
}
@media screen and (min-width: 768px) {
  .search__text {
    text-align: center;
  }
}

.hidden {
  display: none;
}

.library_header {
  padding-top: 35px;
  padding-bottom: 60px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/library-header/small.jpg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/library-header/medium.jpg);
  background-color: #545454;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .library_header {
    padding-top: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .library_header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/library-header/large.jpg);
  }
}

.library_logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.library_logo_link {
  padding-top: 10px;
  padding-bottom: 10px;
}

.library_site-name {
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  .library_site-name {
    visibility: visible;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;
    color: #FFFFFF;
  }
}

.library_header-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.library_nav-list {
  display: flex;
  gap: 39px;
  justify-content: end;
}

.library_nav-item {
  padding-top: 15px;
  padding-bottom: 15px;
}

.library_nav-link {
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
}

.library_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 45px;
}
@media screen and (min-width: 768px) {
  .library_buttons {
    gap: 32px;
    margin-top: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .library_buttons {
    gap: 16px;
  }
}

.library_current {
  -webkit-text-decoration: underline 3px rgb(255, 0, 27);
          text-decoration: underline 3px rgb(255, 0, 27);
}

.tui-pagination {
  padding-top: 15px;
  padding-bottom: 15px;
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  background: #ff6b08;
  border-color: #ff6b08;
}

.tui-pagination .tui-first-child.tui-is-selected {
  border-left-color: #ff6b08;
}

.tui-pagination .tui-last-child.tui-is-selected {
  border-right-color: #ff6b08;
}

.tui-pagination .tui-is-selected:hover {
  background-color: #ff6b08;
}

.footer {
  height: 100px;
  background-color: #f7f7f7;
  padding-top: 28px;
}
@media screen and (min-width: 768px) {
  .footer {
    height: 79px;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    height: 77px;
  }
}

.footer-container {
  text-align: center;
}

.footer-paragraph {
  font-size: 16px;
  font-weight: 400;
  color: #545454;
}

.footer-link {
  text-decoration: underline;
  display: inline;
}
.footer-link:hover {
  color: #ff6b08;
}

.icon-heart {
  fill: #ff6b08;
}

.rotate-center {
  -webkit-animation: rotate-center 1.2s ease-in-out infinite both;
  animation: rotate-center 1.2s ease-in-out infinite both;
}

@-webkit-keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.librery_not-found-text {
  color: rgba(190, 65, 65, 0.888);
  font-size: 30px;
}

.not-found_container {
  text-align: center;
}

.img_not-found {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.link_to-home {
  text-decoration: underline;
  color: rgba(199, 34, 199, 0.888);
}

.films-catalog {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}/*# sourceMappingURL=index.css.map */