<div class="footer-backdrop is-hidden">
    <div class="footer-modal">
        <button type="button" class="footer-closeModalBtn footer-closeModalBtn-js">
            <svg width="30" height="30">
                <use href="./images/sprite.svg#close"></use>
            </svg>
        </button>
        <h1 class="team-title">
            Software Development Team
            <svg class="icon-heart scale-down-center" width="15" height="15">
                <use href="./images/sprite.svg#icon-heart"></use>
            </svg>
        </h1>
        <ul class="team-list">
            <li class="team-item">
                <div class="team-card">
                    <img class="team-image" src="./images/team-photo/Marina.jpg" alt="Photo" />
                    <h2 class="team-item-title">
                        <a class="github-link" href="https://github.com/Maryna-Hemb" target="_blank">
                            <svg class="icon-github" width="14" height="14">
                                <use href="./images/sprite.svg#icon-github"></use>
                            </svg>
                        </a>
                        Maryna
                    </h2>
                    <p class="team-position">Team lead</p>
                </div>
            </li>
            <li class="team-item">
                <div class="team-card">
                    <img class="team-image" src="./images/team-photo/Sanchela.jpg" alt="Photo" />
                    <h2 class="team-item-title">
                        <a class="github-link" href="https://github.com/RaccoonBLR" target="_blank">
                            <svg class="icon-github" width="14" height="14">
                                <use href="./images/sprite.svg#icon-github"></use>
                            </svg>
                        </a>
                        Oleksandr
                    </h2>
                    <p class="team-position">Scrum master</p>
                </div>
            </li>
            <li class="team-item">
                <div class="team-card">
                    <img class="team-image" src="./images/team-photo/Maryna.jpg" alt="Photo" />
                    <h2 class="team-item-title">
                        <a class="github-link" href="https://github.com/emerald2424" target="_blank">
                            <svg class="icon-github" width="14" height="14">
                                <use href="./images/sprite.svg#icon-github"></use>
                            </svg>
                        </a>
                        Mariana
                    </h2>
                    <p class="team-position">Developer</p>
                </div>
            </li>
            <li class="team-item">
                <div class="team-card">
                    <img class="team-image" src="./images/team-photo/Titarenko.jpg" alt="Photo" />
                    <h2 class="team-item-title">
                        <a class="github-link" href="https://github.com/TetianaTitarenko" target="_blank">
                            <svg class="icon-github" width="14" height="14">
                                <use href="./images/sprite.svg#icon-github"></use>
                            </svg>
                        </a>
                        Tetiana
                    </h2>
                    <p class="team-position">Developer</p>
                </div>
            </li>
            <li class="team-item">
                <div class="team-card">
                    <img class="team-image" src="./images/team-photo/oleksandr.jpg" alt="Photo" />
                    <h2 class="team-item-title">
                        <a class="github-link" href="https://github.com/OlieHimmars" target="_blank">
                            <svg class="icon-github" width="14" height="14">
                                <use href="./images/sprite.svg#icon-github"></use>
                            </svg>
                        </a>
                        Olie
                    </h2>
                    <p class="team-position">Developer</p>
                </div>
            </li>
            <li class="team-item">
                <div class="team-card">
                    <img class="team-image" src="./images/team-photo/Andrey.jpg" alt="Photo" />
                    <h2 class="team-item-title">
                        <a class="github-link" href="https://github.com/ahamoth" target="_blank">
                            <svg class="icon-github" width="14" height="14">
                                <use href="./images/sprite.svg#icon-github"></use>
                            </svg>
                        </a>
                        Andrey
                    </h2>
                    <p class="team-position">Developer</p>
                </div>
            </li>
            
            <li class="team-item">
                <div class="team-card">
                    <img class="team-image" src="./images/team-photo/Lukyianenko.jpg" alt="Photo" />
                    <h2 class="team-item-title">
                        <a class="github-link" href="https://github.com/Lukyianenko" target="_blank">
                            <svg class="icon-github" width="14" height="14">
                                <use href="./images/sprite.svg#icon-github"></use>
                            </svg>
                        </a>
                        Oleksandr
                    </h2>
                    <p class="team-position">Developer</p>
                </div>
            </li>
            <li class="team-item">
                <div class="team-card">
                    <img class="team-image" src="./images/team-photo/Daryna.jpg" alt="Photo" />
                    <h2 class="team-item-title">
                        <a class="github-link" href="https://github.com/" target="_blank">
                            <svg class="icon-github" width="14" height="14">
                                <use href="./images/sprite.svg#icon-github"></use>
                            </svg>
                        </a>
                        Darina
                    </h2>
                    <p class="team-position">Developer</p>
                </div>
            </li>
            
            <li class="team-item">
                <div class="team-card">
                    <img class="team-image" src="./images/team-photo/Viktoria.jpg" alt="Photo" />
                    <h2 class="team-item-title">
                        <a class="github-link" href="https://github.com/ViktoriiaSlobodeniuk" target="_blank">
                            <svg class="icon-github" width="14" height="14">
                                <use href="./images/sprite.svg#icon-github"></use>
                            </svg>
                        </a>
                        Viktoria
                    </h2>
                    <p class="team-position">Developer</p>
                </div>
            </li>
            <li class="team-item">
                <div class="team-card">
                    <img class="team-image" src="./images/team-photo/larisa.jpg" alt="Photo" />
                    <h2 class="team-item-title">
                        <a class="github-link" href="https://github.com/Erlara" target="_blank">
                            <svg class="icon-github" width="14" height="14">
                                <use href="./images/sprite.svg#icon-github"></use>
                            </svg>
                        </a>
                        Larisa
                    </h2>
                    <p class="team-position">Developer</p>
                </div>
            </li>
            <li class="team-item">
                <div class="team-card">
                    <img class="team-image" src="./images/team-photo/Anton.jpg" alt="Photo" />
                    <h2 class="team-item-title">
                        <a class="github-link" href="https://github.com/Anton-Logvinenko" target="_blank">
                            <svg class="icon-github" width="14" height="14">
                                <use href="./images/sprite.svg#icon-github"></use>
                            </svg>
                        </a>
                        Anton
                    </h2>
                    <p class="team-position">Developer</p>
                </div>
            </li>
            
            <li class="team-item">
                <div class="team-card">
                    <img class="team-image" src="./images/team-photo/Ruslan.jpg" alt="Photo" />
                    <h2 class="team-item-title">
                        <a class="github-link" href="https://github.com" target="_blank">
                            <svg class="icon-github" width="14" height="14">
                                <use href="./images/sprite.svg#icon-github"></use>
                            </svg>
                        </a>
                        Ruslan
                    </h2>
                    <p class="team-position">Developer</p>
                </div>
            </li>
            <li class="team-item">
                <div class="team-card">
                    <img class="team-image" src="./images/team-photo/ihor.jpg" alt="Photo" />
                    <h2 class="team-item-title">
                        <a class="github-link" href="https://github.com/piv2003" target="_blank">
                            <svg class="icon-github" width="14" height="14">
                                <use href="./images/sprite.svg#icon-github"></use>
                            </svg>
                        </a>
                        Igor
                    </h2>
                    <p class="team-position">Developer</p>
                </div>
            </li>
            <li class="team-item">
                <div class="team-card">
                    <img class="team-image" src="./images/team-photo/rodion.jpg" alt="Photo" />
                    <h2 class="team-item-title">
                        <a class="github-link" href="https://github.com/ZefrisType" target="_blank">
                            <svg class="icon-github" width="14" height="14">
                                <use href="./images/sprite.svg#icon-github"></use>
                            </svg>
                        </a>
                        Rodion
                    </h2>
                    <p class="team-position">Developer</p>
                </div>
            </li>
            <li class="team-item">
                <div class="team-card">
                    <img class="team-image" src="./images/team-photo/Kostia.jpg" alt="Photo" />
                    <h2 class="team-item-title">
                        <a class="github-link" href="https://github.com/KostiaZ" target="_blank">
                            <svg class="icon-github" width="14" height="14">
                                <use href="./images/sprite.svg#icon-github"></use>
                            </svg>
                        </a>
                        Kostia
                    </h2>
                    <p class="team-position">Developer</p>
                </div>
            </li>
             <li class="team-item">
                <div class="team-card">
                    <img class="team-image" src="./images/team-photo/vitalii.jpg" alt="Photo" />
                    <h2 class="team-item-title">
                        <a class="github-link" href="https://github.com/Freebo12" target="_blank">
                            <svg class="icon-github" width="14" height="14">
                                <use href="./images/sprite.svg#icon-github"></use>
                            </svg>
                        </a>
                        Vitalii
                    </h2>
                    <p class="team-position">Developer</p>
                </div>
            </li>
        </ul>
    </div>
</div>