<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="btn-modal-close" type="button" data-modal-close>
      <svg class="modal-btn-icon js-modal-close" width="30" , height="30">
        <use href="./images/modal/close.svg#X-modal"></use>
      </svg>
    </button>
    <div class="modal-container">
      <div class="img-box">
        <img
          class="img-modal"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShP7_wCTnVoJtJrHBgP-Jrpa5I2OwoTQFODw&usqp=CAU"
          alt=""
          width="240px"
        />
      </div>

      <div class="content-box">
        <div class="text-box">
          <h2 class="modal-title">A FISTFUL OF LEAD</h2>
          <table>
            <tbody class="tbody">
              <tr>
                <td class="tbody-category">Vote / Votes</td>
                <td class="tbody-vote">7.3</td>
                <td class="tbody-slash">/</td>
                <td class="tbody-votes">1260</td>
                <td></td>
              </tr>
              <tr>
                <td class="tbody-category">Popularity</td>
                <td colspan="4">100.2</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td class="tbody-category">Original Title</td>
                <td class="tbody-category__text" colspan="4">
                  A FISTFUL OF LEAD
                </td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td class="tbody-category">Genre</td>
                <td class="tbody-category__text" colspan="4">Western</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>

          <h3 class="modal-subtitle">About</h3>
          <p class="textAbout">
            Four of the West’s most infamous outlaws assemble to steal a huge
            stash of gold from the most corrupt settlement of the gold rush
            towns. But not all goes to plan one is killed and the other three
            escapes with bags of gold hide out in the abandoned gold mine where
            they happen across another gang of three – who themselves were
            planning to hit the very same bank! As tensions rise, things go from
            bad to worse as they realise the bags of gold are filled with
            lead... they’ve been double crossed – but by who and how? As
            tensions rise, things go from bad to worse as they realise the bags
            of gold are filled with lead... they’ve been double crossed – but by
            who and how?
          </p>
        </div>
        <div class="btn-conteiner">
          <button class="js-toWatched btn-click-modal">add to watched</button>
          <button class="js-toQueue btn-click-modal">add to queue</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Функция разметки модалки по клику на карточку (пока без map)
</script>
